---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Banner from '../components/Banner.astro'
import Gallery from '../components/Gallery.astro'
import Slider from '../components/Slider.astro'
import History from '../components/History.astro'
import Footer from '../components/Footer.astro'
import '@fontsource-variable/lora';
---

<Layout title="Aroma Café, Pizzería & Eventos">
	<main>
		<Header />
		<div class=" mt-14"></div>
		<Banner />
		<Gallery />
		<Slider />
		<History />
		<Footer />
	</main>
</Layout>