---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Menú Aroma Cafe & Pizzería" ogimage="/default-ogimage.webp">
  <!-- Menu mobile -->
  <div class="lg:hidden">
    <img src="page1.webp" alt="page1" />
    <img src="page2.webp" alt="page2" />
    <img src="page3.webp" alt="page3" />
    <img src="page4.webp" alt="page4" />
    <img src="page5.webp" alt="page5" />
    <img src="page6.webp" alt="page6" />
    <img src="page7.webp" alt="page7" />
    <img src="page8.webp" alt="page8" />
    <img src="md-5.webp" alt="page9" />
    <img src="md-6.webp" alt="page10" />
    <img src="md-7.webp" alt="page11" />
    
  </div>

  <!-- Menu desktop -->
  <div class="hidden lg:block">
    <div class="mx-auto max-w-[1100px] grid grid-cols-2 gap-y-5">
      <img src="page1.webp" class="w-[550px]" alt="page1" />
      <img src="page2.webp" class="w-[550px]" alt="page2" />
      <img src="page3.webp" class="w-[550px]" alt="page3" />
      <img src="page4.webp" class="w-[550px]" alt="page4" />
      <img src="page5.webp" class="w-[550px]" alt="page5" />
      <img src="page6.webp" class="w-[550px]" alt="page6" />
      <img src="page7.webp" class="w-[550px]" alt="page7" />
      <img src="page8.webp" class="w-[550px]" alt="page8" />
      <img src="md-5.webp" class="w-[550px]" alt="page9" />
      <img src="md-6.webp" class="w-[550px]" alt="page10" />
      <img src="md-7.webp" class="w-[550px]" alt="page11" />

    </div>
          <div class='flex my-3'>
        <div class='flex gap-x-2 items-center mx-auto'>
            <p class='text-sm font-semibold text-center text-gray-300'>Desarrollado por:</p>
            <a href='https://verzestudio.com/' target='_blank' class='text-blue-600 hover:underline'>
              <img src="/logo-vs-white-100x50.png" alt="logo Verze Studio" class='h-10 w-auto'  width={100} height={50} />
            </a>
        </div>
      </div>
  </div>
</Layout>