  <!-- Header -->
  <div class="">

    <div class="z-20 flex bg-black h-20 w-full fixed top-0 left-0 right-0">
      <img src="/logo-trans-aroma.webp" class=" mx-auto" alt="logo aroma">
  
    </div>
  </div>
  
  <!-- body -->
  <div class="mt-20">

    <div class="flex relative h-screen  overflow-hidden">
      <div class=" inset-0 flex items-center justify-center absolute text-white ">
        <a href="/menu" class=" z-10 hover:scale-105 transition px-7 py-3 rounded-3xl border-white border-2 text-2xl bg-blur backdrop-filter backdrop-blur-md"> Ver Menu</a>
      </div>
      <div class="w-1/2 overflow-hidden ">
        <img src="pizza.jpeg" alt="" class=" grayscale-[20%] object-cover w-full h-full hover:scale-105 transition-transform duration-700 ">
      </div>
      <div class="w-1/2 overflow-hidden ">
        <img src="te.jpeg" alt="" class="grayscale-[20%] w-full h-full object-cover hover:scale-105 transition-transform duration-700 ">
      </div>
    </div>
  </div>