---

---
<header class="py-2 px-4 mx-auto lg:py-4 lg:px-6 fixed top-0 left-0 right-0 z-20 bg-[#13151a]">
  <div class="flex lg:justify-between items-center  px-20">
    <div class="hidden lg:block" >
      <img src="logo-trans-aroma.webp" class="mx-auto" width="120" alt="logo aroma cafe" />
    </div>

    <div class="lg:hidden mx-auto" >
      <img src="logo-trans-aroma.webp" class="mx-auto" width="120" alt="logo aroma cafe" />
    </div>

    <div class="hidden lg:block"> 
      <div class=" flex gap-x-8 text-xl font-serif text-white">
        <a href="/menu">Menú</a>
        <a href="#galeria">Galería</a>
        <a href="#clientes">Clientes</a>
        <a href="#nosotros">Nosotros</a>
        <a href="#footer">Contacto</a>
      </div>
    </div>

  </div>
</header>