---
---
<div class="bg-[#20242D]">

  <div class="flex lg:flex-row flex-col gap-x-10 items-center max-w-6xl mx-auto lg:py-20 py-10  " id="nosotros">
  
    <div class=" flex flex-col lg:hidden gap-y-8 pb-5">
      <h2 class=" text-center text-3xl text-orange-50 font-medium">Nuestra historia</h2>
      <div class="flex flex-col gap-y-4 text-gray-300 font-light px-2">
        <p class=" ">Nuestra cafetería abrió sus puertas en 2015 con una especialidad en pizza, nacida de nuestro deseo de crear una receta única después de probar muchas otras y no quedar satisfechos. Comenzamos preparando pizzas en casa y recibimos pedidos para cumpleaños y domicilios.</p>
        <p class=" ">Finalmente, decidimos abrir un local en Atuntaqui, donde brindamos un ambiente retro con lámparas acogedoras, perfecto para disfrutar y celebrar momentos especiales. Nuestro estilo fue bien recibido, tanto que nos convertimos en la mejor café-pizzería de Atuntaqui.</p>
        <p class=" ">En 2022, expandimos nuestro negocio abriendo una sucursal en Ibarra, llevando nuestra deliciosa pizza a más personas y continuando con nuestro compromiso de ofrecer calidad y un ambiente especial.</p>
      </div>
    </div>

    <div class=" flex flex-col lg:gap-y-6 gap-y-3 lg:w-1/2">
      <img src="historia1.webp" class=" w-[400px] rounded-md h-[200px] object-cover object-bottom mx-auto" alt="local Atuntaqui">
      <img src="historia2.webp" class=" w-[400px] rounded-md h-[200px] object-cover object-top mx-auto" alt="Local Ibarra">
    </div>
  
    <div class="  flex-col w-1/2 hidden lg:block ">
      <h2 class=" text-center text-2xl text-orange-50 font-medium pb-5">Nuestra historia</h2>
      <div class="flex flex-col gap-y-4 text-gray-300 font-light">
        <p class=" ">Nuestra cafetería abrió sus puertas en 2015 con una especialidad en pizza, nacida de nuestro deseo de crear una receta única después de probar muchas otras y no quedar satisfechos. Comenzamos preparando pizzas en casa y recibimos pedidos para cumpleaños y domicilios.</p>
        <p class=" ">Finalmente, decidimos abrir un local en Atuntaqui, donde brindamos un ambiente retro con lámparas acogedoras, perfecto para disfrutar y celebrar momentos especiales. Nuestro estilo fue bien recibido, tanto que nos convertimos en la mejor café-pizzería de Atuntaqui.</p>
        <p class=" ">En 2022, expandimos nuestro negocio abriendo una sucursal en Ibarra, llevando nuestra deliciosa pizza a más personas y continuando con nuestro compromiso de ofrecer calidad y un ambiente especial.</p>
      </div>
    </div>
  
  </div>
</div>